body {
    background-color: #248F8F;
}

.image {
    width: 200px;
    position: absolute;
    top: 20px;
    left: 100px;
    opacity: .7;
    -webkit-filter: blur(6px);
    
}



h1 
{
    display:block;
    color:#248F8F ;
    width: 500px;
    text-align: center;
    font-family: courier, sans-serif;
    background-color: white;
    ;
   
}

p {
    display: block;
    color:#248F8F;
    width: 107px;
    text-align:center;
    background-color: #dddddd;
    font-family: courier;
    

    }
a {

    color:white;
    width: 107px;
   font-family:courier
}

   
  
    
    
    
    

    
 
  

    
    
