body {
	margin:0;
	font-size: 12px;
    font-family: avenir;
	width: 100%;
	height: 100%:
}

*::selection {
	background-color: transparent;
}

.navigation{
	position: absolute;
    width:520px;
    height:10px;
    margin-top:20px;
    margin-left:20px;
		z-index: 1;
}


.title h1{
     font-family:Helvetica;
     font-size:24px;
     margin-top:5px;
     position:absolute;
     color:black;
     font-weight:normal;
}

.phrase {
  position: absolute;
  font-size: 21px;
  color:black;
  -webkit-animation-name: example; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 330s; /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 20s;
  animation-fill-mode: forwards;

}

/* @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}
*/

#buttonDiv {
	position: absolute;
	top: 550px;
	left: 125px;
	width: 100px;
	height: 50px;
	outline-color: black;
	outline-style: solid;
	z-index: 100;
}

#imageDiv {
	width:640px;
	height:640px;
	margin-top:100px;
	left:450px;
	position: absolute
}

#text {
	position: absolute;
	margin-top: 100px;
	margin-left: 25px;
	z-index: -1;
}

#text ul{
	position: absolute;
	margin-top: -218px;
	margin-left: 78px;
	font-family: avenir;
	color: black;
	font-size: 18px;
	z-index: 100;
}



/*#imageDiv2 {
	width:1800px;
	height:100px;
	margin-top:120px;
}

#imageDiv3 {
	width:800px;
	height:100px;
	margin-top:140px;
}

#imageDiv4 {
	width:800px;
	height:180px;
	margin-left:1000px;
	margin-top:-120px;
}

#imageDiv5 {
	width:800px;
	height:100px;
	margin-left:1000px;
	margin-top:-800px;
}

#imageDiv6 {
	width:400px;
	height:300px;
	margin-left:0px;
	margin-top:-300px;
}

#imageDiv7 {
	width:1000px;
	height:50px;
	margin-left:1000px;
	margin-top:-470px;
}

#imageDiv8 {
	width:500px;
	height:150px;
	margin-left:1000px;
	margin-top:-500px;
}

#imageDiv9 {
	width:900px;
	height:70px;
	margin-left:1000px;
	margin-top:-600px;
}

#imageDiv10 {
	width:1000px;
	height:300px;
	margin-left:0px;
	margin-top:-900px;
}

#imageDiv11 {
	width:800px;
	height:800px;
	margin-left:0px;
	margin-top:-600px;
}

*/
