body {
    margin:0px;
    
}

@font-face {
    font-family: Quicksand;
    src: url(quicksand/Quicksand-Regular.otf);
}

.white {
  width: 40px;
  height: 40px;
	background: white;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:50px;
	margin-top:20px;
	position:absolute;
	border:1px solid;
}


.blue {
  width: 40px;
  height: 40px;
	background: #0000FF;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:110px;
	margin-top:20px;
	position:absolute;
}



.red {
    width: 40px;
    height: 40px;
	background: #FF0000;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:170px;
	margin-top:20px;
	position:absolute;
}

.pink {
    width: 40px;
    height: 40px;
	background: #FFC0CB;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:230px;
	margin-top:20px;
	position:absolute;
}

.violet {
    width: 40px;
    height: 40px;
	background: #800080;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:290px;
	margin-top:20px;
	position:absolute;
}

.grey {
    width: 40px;
    height: 40px;
	background: grey;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:350px;
	margin-top:20px;
	position:absolute;
}

.black {
  width: 40px;
  height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:410px;
	margin-top:20px;
	position:absolute;
}

.i_letter1 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:50px;
	margin-top:200px;
	position:absolute;
}


.i_letter2 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:100px;
	margin-top:200px;
	position:absolute;
}


.letter_i p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:80px;
  margin-top:80px;
  position:absolute;
}

.m_letter1 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:205px;
  margin-left:150px;
  position:absolute;
}

.m_letter2 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:205px;
  margin-left:250px;
  position:absolute;
}

.letter_m p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:200px;
  margin-top:80px;
  position:absolute;
}

.a_letter1 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:400px;
	margin-top:200px;
	position:absolute; 
}

.a_letter2 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:205px;
  margin-left:450px;
  position:absolute;
}


.letter_a p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:425px;
  margin-top:80px;
  position:absolute; 
    
}

.g_letter1 {
 width: 75px;
  height: 30px;
  background:black;
  margin-top:205px;
  margin-left:600px;
  position:absolute;
}

.g_letter2 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:205px;
  margin-left:700px;
  position:absolute;
}

.g_letter3 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:785px;
	margin-top:200px;
	position:absolute; 
}

.letter_g p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:680px;
  margin-top:80px;
  position:absolute; 
    
}

.e_letter1 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:830px;
	margin-top:200px;
	position:absolute; 
}

.letter_e p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:820px;
  margin-top:80px;
  position:absolute; 
    
}

.n_letter1 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:205px;
  margin-left:880px;
  position:absolute;
}

.n_letter2 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:970px;
	margin-top:200px;
	position:absolute;
}

.letter_n p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:900px;
  margin-top:80px;
  position:absolute;
}

.t_letter1 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:205px;
  margin-left:1030px;
  position:absolute;
}

.letter_t p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:1040px;
  margin-top:80px;
  position:absolute;
}


.letter_l p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:300px;
  margin-top:330px;
  position:absolute;
}



.l_letter1 {
  width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:220px;
	margin-top:455px;
	position:absolute;
	

}

.l_letter2 {
  width: 75px;
	height: 30px;
	background:black;
	margin-top:460px;
  margin-left:270px;
  position:absolute;
	
}


.l_letter3 {
  width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:355px;
	margin-top:455px;
	position:absolute;

}


.l_letter4 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:405px;
	margin-top:455px;
	position:absolute;
	}

.letter_l {
    margin-left:900px;
    top:-255px;
    position:absolute;
}

.e_letter2 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:445px;
	margin-top:400px;
	position:absolute;
}

.letter_e2:hover div {
  background-color:#0000FF;
}

.letter_e2 p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:440px;
  margin-top:280px;
  position:absolute;
}

.letter_e2 {
    top:-200px;
    left:910px;
    position:absolute;
    
}

.h_letter1 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:50px;
	margin-top:400px;
	position:absolute;  
}

.h_letter2 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:100px;
	margin-top:400px;
	position:absolute;  
}

.h_letter3 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:150px;
	margin-top:400px;
	position:absolute;  
}

.h_letter4 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:200px;
	margin-top:400px;
	position:absolute;  
}



.letter_h p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:120px;
  margin-top:280px;
  position:absolute;
}

.i1_letter1 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:250px;
	margin-top:400px;
	position:absolute; 
}

.i2_letter2 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:300px;
	margin-top:400px;
	position:absolute; 
}

.letter_i2 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:280px;
  margin-top:280px;
  position:absolute;
    
}

.s_letter1 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:350px;
	margin-top:400px;
	position:absolute;
}

.s_letter2 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:400px;
	margin-top:400px;
	position:absolute;
}

.s_letter3 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:450px;
	margin-top:400px;
	position:absolute;
}


.letter_s p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:400px;
  margin-top:280px;
  position:absolute;
}

.s2_letter1 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:500px;
	margin-top:400px;
	position:absolute;
}

.s2_letter2 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:550px;
	margin-top:400px;
	position:absolute;
}

.s2_letter3 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:600px;
	margin-top:400px;
	position:absolute;
}


.letter_s2 p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:550px;
  margin-top:280px;
  position:absolute;
}

.o_letter1 {
  width: 75px;
  height: 30px; 
  background:black;
  margin-top:405px;
  margin-left:700px;
  position:absolute;
}



.o_letter2 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:405px;
  margin-left:800px;
  position:absolute;
}

.o_letter3 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:405px;
  margin-left:900px;
  position:absolute;
}

.letter_o p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:800px;
  margin-top:280px;
  position:absolute;
}

.f_letter1 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1000px;
	margin-top:400px;
	position:absolute;
}

.f_letter2 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1050px;
	margin-top:400px;
	position:absolute;
}

.f_letter3 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:405px;
  margin-left:1100px;
  position:absolute; 
}

.f_letter4 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1190px;
	margin-top:400px;
	position:absolute;
}

.letter_f p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:1080px;
  margin-top:280px;
  position:absolute;
}

.letter_s3 p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:100px;
  margin-top:480px;
  position:absolute;
}

.s3_letter1 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:50px;
	margin-top:600px;
	position:absolute;
}

.s3_letter2 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:100px;
	margin-top:600px;
	position:absolute;
}

.s3_letter3 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:150px;
	margin-top:600px;
	position:absolute;
}

.o2_letter1 {
  width: 75px;
  height: 30px; 
  background:black;
  margin-top:605px;
  margin-left:200px;
  position:absolute;
}



.o2_letter2 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:605px;
  margin-left:300px;
  position:absolute;
}

.o2_letter3 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:605px;
  margin-left:400px;
  position:absolute;
}

.letter_o2 p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:310px;
  margin-top:480px;
  position:absolute;
}

.u_letter1 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:500px;
	margin-top:600px;
	position:absolute;
}

.u_letter2 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:550px;
	margin-top:600px;
	position:absolute;
}

.u_letter3 {  
  width: 75px;
  height: 30px;
  background:black;
  margin-top:605px;
  margin-left:600px;
  position:absolute; 
}

.letter_u p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:550px;
  margin-top:480px;
  position:absolute;
}

.n2_letter1 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:605px;
  margin-left:700px;
  position:absolute;
}

.n2_letter2 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:790px;
	margin-top:600px;
	position:absolute;
}

.letter_n2 p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:700px;
  margin-top:480px;
  position:absolute;
}

.d_letter1 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:605px;
  margin-left:850px;
  position:absolute;
}

.d_letter2 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:940px;
	margin-top:600px;
	position:absolute;
}

.d_letter3 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:990px;
	margin-top:600px;
	position:absolute;
}

.letter_d p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:900px;
  margin-top:480px;
  position:absolute;
}

.i3_letter1 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:50px;
	margin-top:800px;
	position:absolute; 
}

.i3_letter2 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:100px;
	margin-top:800px;
	position:absolute; 
}

.letter_i3 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:90px;
  margin-top:680px;
  position:absolute;
    
}

.c_letter1 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:805px;
  margin-left:200px;
  position:absolute;  
}

.c_letter2 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:290px;
	margin-top:800px;
	position:absolute; 
}

.c_letter3 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:805px;
  margin-left:350px;
  position:absolute;  
}

.c_letter4 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:440px;
	margin-top:800px;
	position:absolute; 
}

.letter_c p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:320px;
  margin-top:680px;
  position:absolute; 
}

.o3_letter1 {
  width: 75px;
  height: 30px; 
  background:black;
  margin-top:805px;
  margin-left:500px;
  position:absolute;
}

.o3_letter2 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:805px;
  margin-left:590px;
  position:absolute;
}

.o3_letter3 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:805px;
  margin-left:680px;
  position:absolute;
}

.letter_o3 p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:600px;
  margin-top:680px;
  position:absolute;
}

.n3_letter1 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:805px;
  margin-left:780px;
  position:absolute;
}

.n3_letter2 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:880px;
	margin-top:800px;
	position:absolute;
}

.letter_n3 p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:800px;
  margin-top:680px;
  position:absolute;
}

.t2_letter1 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:805px;
  margin-left:930px;
  position:absolute;
}

.letter_t2 p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:930px;
  margin-top:680px;
  position:absolute;
}

.a2_letter1 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1020px;
	margin-top:800px;
	position:absolute; 
}

.a2_letter2 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:805px;
  margin-left:1070px;
  position:absolute;
}

.letter_a2 p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:1040px;
  margin-top:680px;
  position:absolute;
}

.i4_letter1 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1160px;
	margin-top:800px;
	position:absolute; 
}

.i4_letter2 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1210px;
	margin-top:800px;
	position:absolute; 
}

.letter_i4 p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:1190px;
  margin-top:680px;
  position:absolute;
}

.n4_letter1 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:805px;
  margin-left:1270px;
  position:absolute;
}

.n4_letter2 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1360px;
	margin-top:800px;
	position:absolute;
}

.letter_n4 p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:1300px;
  margin-top:680px;
  position:absolute;
}

.m2_letter1 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1005px;
  margin-left:50px;
  position:absolute;
}

.m2_letter2 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1005px;
  margin-left:150px;
  position:absolute;
}

.letter_m2 p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:100px;
  margin-top:870px;
  position:absolute;
}

.a3_letter1 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:240px;
	margin-top:1000px;
	position:absolute; 
}

.a3_letter2 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1005px;
  margin-left:300px;
  position:absolute;
}

.letter_a3 p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:270px;
  margin-top:870px;
  position:absolute;
}

.n5_letter1 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1005px;
  margin-left:400px;
  position:absolute;
}

.n5_letter2 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:500px;
	margin-top:1000px;
	position:absolute;
}

.letter_n5 p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:450px;
  margin-top:870px;
  position:absolute;
}
.y_letter1 {
  width: 75px;
	height: 30px;
	background:black;
	margin-top:1005px;
  margin-left:550px;
  position:absolute;
}

.y_letter2 {
  width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:640px;
	margin-top:1000px;
	position:absolute;
}

.y_letter3 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1005px;
  margin-left:700px;
  position:absolute;
}

.y_letter4 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1005px;
  margin-left:800px;
  position:absolute;
}

.letter_y p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:700px;
  margin-top:870px;
  position:absolute;
}

.s4_letter1 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:50px;
	margin-top:1200px;
	position:absolute;
}

.s4_letter2 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:100px;
	margin-top:1200px;
	position:absolute;
}

.s4_letter3 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:150px;
	margin-top:1200px;
	position:absolute;
}

.letter_s4 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:100px;
  margin-top:1080px;
  position:absolute;
}

.p_letter1 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:200px;
	margin-top:1200px;
	position:absolute;
}

.p_letter2 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1205px;
  margin-left:250px;
  position:absolute;
}
.p_letter3 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1205px;
  margin-left:340px;
  position:absolute;
}

.p_letter4 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:420px;
	margin-top:1200px;
	position:absolute;
}

.letter_p p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:320px;
  margin-top:1080px;
  position:absolute;
}

.e3_letter1 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:470px;
	margin-top:1200px;
	position:absolute;  
}

.letter_e3 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:460px;
  margin-top:1080px;
  position:absolute; 
}

.c2_letter1 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1205px;
  margin-left:520px;
  position:absolute;  
}

.c2_letter2 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:600px;
	margin-top:1200px;
	position:absolute; 
}

.c2_letter3 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1205px;
  margin-left:650px;
  position:absolute;  
}

.c2_letter4 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:730px;
	margin-top:1200px;
	position:absolute; 
}

.letter_c2 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:600px;
  margin-top:1080px;
  position:absolute;   
}

.t3_letter1 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1205px;
  margin-left:780px;
  position:absolute;  
}

.letter_t3 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:780px;
  margin-top:1080px;
  position:absolute;    
}
.r_letter1 {
  width: 40px;
  height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:860px;
	margin-top:1200px;
	position:absolute;
}

.r_letter2 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1205px;
  margin-left:910px;
  position:absolute;
}


.r_letter3 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1000px;
	margin-top:1200px;
	position:absolute;
}

.letter_r p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:910px;
  margin-top:1080px;
  position:absolute;    
}

.u2_letter1 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1050px;
	margin-top:1200px;
	position:absolute;
}

.u2_letter2 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1100px;
	margin-top:1200px;
	position:absolute;
}

.u2_letter3 {  
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1205px;
  margin-left:1150px;
  position:absolute; 
}

.letter_u2 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:1050px;
  margin-top:1080px;
  position:absolute;    
}

.m3_letter1 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1205px;
  margin-left:1250px;
  position:absolute;
}

.m3_letter2 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1205px;
  margin-left:1340px;
  position:absolute;
}

.letter_m3 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:1280px;
  margin-top:1080px;
  position:absolute;    
}

.s5_letter1 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1430px;
	margin-top:1200px;
	position:absolute;
}

.s5_letter2 {
  width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1480px;
	margin-top:1200px;
	position:absolute;
}

.s5_letter3 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1530px;
	margin-top:1200px;
	position:absolute;
}

.letter_s5 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:1450px;
  margin-top:1080px;
  position:absolute;    
}

.of2 {
   color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:-650px;
  margin-top:1000px;
  position:absolute; 
  
}

.c3_letter1 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1405px;
  margin-left:660px;
  position:absolute;  
}

.c3_letter2 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:750px;
	margin-top:1400px;
	position:absolute; 
}

.c3_letter3 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1405px;
  margin-left:800px;
  position:absolute;  
}

.c3_letter4 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:890px;
	margin-top:1400px;
	position:absolute; 
}

.letter_c3 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:770px;
  margin-top:1280px;
  position:absolute;    
}

.o4_letter1 {
  width: 75px;
  height: 30px; 
  background:black;
  margin-top:1405px;
  margin-left:950px;
  position:absolute;
}


.o4_letter2 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1405px;
  margin-left:1050px;
  position:absolute;
}

.o4_letter3 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1405px;
  margin-left:1150px;
  position:absolute;
}

.letter_o4 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:1050px;
  margin-top:1280px;
  position:absolute;    
}

.l2_letter1 {
  width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1250px;
	margin-top:1400px;
	position:absolute;
	

}

.l2_letter2 {
  width: 75px;
	height: 30px;
	background:black;
	margin-top:1405px;
  margin-left:1300px;
  position:absolute;
	
}


.l2_letter3 {
  width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1380px;
	margin-top:1400px;
	position:absolute;

}


.l2_letter4 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1430px;
	margin-top:1400px;
	position:absolute;
	}
	
	.letter_l2 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:1300px;
  margin-top:1280px;
  position:absolute;    
}

.o5_letter1 {
  width: 75px;
  height: 30px; 
  background:black;
  margin-top:1405px;
  margin-left:1480px;
  position:absolute;
}


.o5_letter2 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1405px;
  margin-left:1570px;
  position:absolute;
}

.o5_letter3 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1405px;
  margin-left:1660px;
  position:absolute;
}

.letter_o5 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:1550px;
  margin-top:1280px;
  position:absolute;    
}

.r2_letter1 {
  width: 40px;
  height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1750px;
	margin-top:1400px;
	position:absolute;
}

.r2_letter2 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1405px;
  margin-left:1800px;
  position:absolute;
}


.r2_letter3 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1890px;
	margin-top:1400px;
	position:absolute;
}

.letter_r2 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:1800px;
  margin-top:1280px;
  position:absolute;    
}

.w_letter1 {
   width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:50px;
	margin-top:1600px;
	position:absolute;
}

.w_letter2 {
   width: 75px;
  height: 30px;
  background:black;
  margin-top:1605px;
  margin-left:100px;
  position:absolute;
}

.w_letter3 {
   width: 75px;
  height: 30px;
  background:black;
  margin-top:1605px;
  margin-left:200px;
  position:absolute;
}

.letter_w p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:130px;
  margin-top:1480px;
  position:absolute;
}

.a4_letter1 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:300px;
	margin-top:1600px;
	position:absolute; 
}

.a4_letter2 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1605px;
  margin-left:350px;
  position:absolute;
}

.letter_a4 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:350px;
  margin-top:1480px;
  position:absolute;
}

.t4_letter1 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1605px;
  margin-left:450px;
  position:absolute;
}

.letter_t4 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:450px;
  margin-top:1480px;
  position:absolute;
}
.c4_letter1 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1605px;
  margin-left:540px;
  position:absolute;  
}

.c4_letter2 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:630px;
	margin-top:1600px;
	position:absolute; 
}

.c4_letter3 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1605px;
  margin-left:690px;
  position:absolute;  
}

.c4_letter4 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:780px;
	margin-top:1600px;
	position:absolute; 
}

.letter_c4 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:650px;
  margin-top:1480px;
  position:absolute;
}

.h2_letter1 {
  width: 40px;
  height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:830px;
	margin-top:1600px;
	position:absolute;
}

.h2_letter2 {
  width: 40px;
  height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:880px;
	margin-top:1600px;
	position:absolute;
}

.h2_letter3 {
  width: 40px;
  height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:930px;
	margin-top:1600px;
	position:absolute;
}

.h2_letter4 {
  width: 40px;
  height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:980px;
	margin-top:1600px;
	position:absolute;
}

.letter_h2 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:870px;
  margin-top:1480px;
  position:absolute;
}

.a5_letter1 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1100px;
	margin-top:1600px;
	position:absolute; 
}

.a5_letter2 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1605px;
  margin-left:1150px;
  position:absolute;
}

.letter_a5 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:1140px;
  margin-top:1480px;
  position:absolute;
}

.n6_letter1 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1605px;
  margin-left:1250px;
  position:absolute;
}

.n6_letter2 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1340px;
	margin-top:1600px;
	position:absolute;
}

.letter_n6 p {
   color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:1250px;
  margin-top:1480px;
  position:absolute;
}

.d2_letter1 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1605px;
  margin-left:1400px;
  position:absolute;
}

.d2_letter2 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1490px;
	margin-top:1600px;
	position:absolute;
}

.d_letter3 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:1550px;
	margin-top:1600px;
	position:absolute;
}

.letter_d2 p{
     color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:1450px;
  margin-top:1480px;
  position:absolute;
}

.l3_letter1 {
  width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:50px;
	margin-top:1800px;
	position:absolute;
	

}

.l3_letter2 {
  width: 75px;
	height: 30px;
	background:black;
	margin-top:1805px;
  margin-left:100px;
  position:absolute;
	
}


.l3_letter3 {
  width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:200px;
	margin-top:1800px;
	position:absolute;

}


.l3_letter4 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:250px;
	margin-top:1800px;
	position:absolute;
	}
	
.letter_l3 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:120px;
  margin-top:1680px;
  position:absolute;
}

.i5_letter1 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:300px;
	margin-top:1800px;
	position:absolute; 
}

.i5_letter2 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:350px;
	margin-top:1800px;
	position:absolute; 
}

.letter_i5 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:325px;
  margin-top:1680px;
  position:absolute;
}

.s6_letter1 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:400px;
	margin-top:1800px;
	position:absolute;
}

.s6_letter2 {
  width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:450px;
	margin-top:1800px;
	position:absolute;
}

.s6_letter3 {
    width: 40px;
	height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:500px;
	margin-top:1800px;
	position:absolute;
}

.letter_s6 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:450px;
  margin-top:1680px;
  position:absolute;
}

.t5_letter1 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1805px;
  margin-left:550px;
  position:absolute;
}

.letter_t5 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:550px;
  margin-top:1680px;
  position:absolute;
}

.e4_letter1 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:630px;
	margin-top:1800px;
	position:absolute; 
}

.letter_e4 p{
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:630px;
  margin-top:1680px;
  position:absolute;
}

.n7_letter1 {
  width: 75px;
  height: 30px;
  background:black;
  margin-top:1805px;
  margin-left:690px;
  position:absolute;
}

.n7_letter2 {
    width: 40px;
    height: 40px;
	background: black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	margin-left:770px;
	margin-top:1800px;
	position:absolute;
}

.letter_n7 p {
  color:black;
  font-family:Quicksand-Regular;
  font-size:100px;
  margin-left:730px;
  margin-top:1680px;
  position:absolute;
}



































	

	
