
body {
    margin:0px;
    background-color:black;
}


.img_lonely{
  display:none;
}

.letter_l:hover div {
  background-color:#636363;
}

.l_letter1 {
  width: 50px;
	height: 50px;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin-left:200px;
	margin-top:450px;
	position:absolute;
	

}

.l_letter2 {
  width: 75px;
	height: 35px;
	background:white;
	margin-top:460px;
  margin-left:270px;
  position:absolute;
	
}


.l_letter3 {
  width: 50px;
	height: 50px;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin-left:365px;
	margin-top:450px;
	position:absolute;
	

}


.l_letter4 {
  width: 50px;
	height: 50px;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin-left:425px;
	margin-top:450px;
	position:absolute;
	

}


.lonely1 {
  position : absolute ;
  left : 0px;
  top : 0px;
  width : 284px;
  height : 396px;
}

.lonely2 {
  position : absolute ;
  left : 270px;
  top : 0px;
  width : 268px;
  height : 421px;
}

.lonely3 {
  position : absolute ;
  left : 1px;
  top : 461px;
  width : 300px;
  height : 440px;

}

.lonely4 {
  position : absolute ;
  left : 0px;
  top : 84px;
  width : 284px;
  height : 396px;

}

.lonely5 {
  position:absolute;
  left : 270px;
  top :80px;
  width : 268px;
  height : 421px;

}

.lonely6 {
  position : absolute ;
  left : 520px;
  top : 7px;
  width : 282px;
  height : 328px;
}

.lonely7 {
  position : absolute ;
  left : 170px;
  top : 500px;
  width : 221px;
  height : 400px;
}


.lonely8 {
  position : absolute ;
  left : 390px;
  top : 500px;
  width : 261px;
  height : 400px;
}

.lonely9 {
  position : absolute ;
  left : 510px;
  top : 200px;
  width : 190px;
  height : 300px
}

.img2_lonely {
  display:none;
} 

.letter_o:hover div {
  background-color:#636363;
}

.o_letter1 {
  width: 75px;
	height: 35px;
	background:white;
	margin-top:460px;
  margin-left:500px;
  position:absolute;
}



.o_letter2 {
  width: 75px;
	height: 35px;
	background:white;
	margin-top:460px;
  margin-left:600px;
  position:absolute;
}

.o_letter3 {
  width: 75px;
	height: 35px;
	background:white;
	margin-top:460px;
  margin-left:700px;
  position:absolute;
}


.lonely10 {
  position : absolute ;
  left : 800px;
  top : 0px;
  width : 160px;
  height : 268px;

}





